<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TagConfig" type="FreeAllegiance.Tag.TagConfigSectionHandler, Common" />
	</configSections>
	<TagConfig>
		<TAG UpdateTime="5:00" PostTimeout="200000" CSSUrl="https://localhost/CSSServer/Tag.svc" useCss="true" skipUpdates="true" />
		<ReconnectTimer Interval="60" />
		<Log>
			<XmlFile Path="SavedGames" />
		</Log>
		<Trace Level="Verbose" Path="trace.txt" ArchiveDir="TraceFiles" Console="true" />
		<ServerAdmins>
			<ServerAdmin>Tigereye</ServerAdmin>
			<ServerAdmin>BackTrak</ServerAdmin>
		</ServerAdmins>
	</TagConfig>
</configuration>